# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/angular_libreria/dist
/angular_libreria/tmp
/angular_libreria/out-tsc
/angular_libreria/bazel-out

# Node
/angular_libreria/node_modules
/angular_libreria/npm-debug.log
/angular_libreria/yarn-error.log

# IDEs and editors
/angular_libreria/.idea/
/angular_libreria/.project
/angular_libreria/.classpath
/angular_libreria/.c9/
/angular_libreria/*.launch
/angular_libreria/.settings/
/angular_libreria/*.sublime-workspace

# Visual Studio Code
/angular_libreria/.vscode/*
!/angular_libreria/.vscode/settings.json
!/angular_libreria/.vscode/tasks.json
!/angular_libreria/.vscode/launch.json
!/angular_libreria/.vscode/extensions.json
/angular_libreria/.history/*

# Miscellaneous
/angular_libreria/.angular/cache
/angular_libreria/.sass-cache/
/angular_libreria/connect.lock
/angular_libreria/coverage
/angular_libreria/libpeerconnection.log
/angular_libreria/testem.log
/angular_libreria/typings

# System files
/angular_libreria/.DS_Store
/angular_libreria/Thumbs.db


# API Libreria API
LibreriaAPI/LibreriaAPI/obj/Release/
LibreriaAPI/LibreriaAPI/.vs/
